.footer {
  max-width: 100%;
  background: rgba(50, 88, 99, 1);
  color: white;
  font-size: 12px;
  padding: 0 0 15px 0;
}

.footer-feedback {
  background: #7fa5a3;
  padding: 10px;
  text-align: center;
}

.footer-feedback .link {
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #2c6f7b;
}

.back-top {
  background: black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-top:hover {
  color: #3c6670;
}

.footer-main {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
  padding: 20px 40px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 1.1em;
  font-weight: bold;
}

.footer-col p {
  margin: 6px 0;
  line-height: 1.6;
}

.logo-footer {
  font-size: 30px;
  font-weight: bold;
  font-family: "Urban Jungle", sans-serif;
}

.logo-img {
  height: 40px;
  object-fit: contain;
}

/* SOCIAL */
.social-icon {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer-social {
  display: flex;
  gap: 15px;
  font-size: 24px;
}

/* FOOTER BOTTOM */
.footer-bottom {
  border-top: 2px solid rgba(218, 226, 219, 1);
  margin-top: 10px;
  padding: 15px 40px;
  text-align: center;
  font-size: 11px;
  color: rgba(218, 226, 219, 1);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-main {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  .social-icon {
    justify-content: flex-start;
  }
}
.footer-social a {
  font-size: 20px;
  color: white;
  transition: 0.2s;
}

.footer-social a:hover {
  color: #2c6f7b;
  transform: scale(1.1);
}