.account-page {
  display: flex;
  padding: 30px;

  height: 100vh;        /* 🔥 QUAN TRỌNG */
  overflow: hidden;     /* 🔥 chặn scroll ngoài */
  box-sizing: border-box;
}

/* SIDEBAR */

.sidebar {
  width: 200px;
  flex-shrink: 0;

  height: 100vh;       /* 🔥 */
}

.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar li{
  margin-bottom:5px;
}

.sidebar a{
  display:block;
  padding:10px 10px;
  text-decoration:none;
  color:#555;
  border-radius:8px;
  transition:0.2s;
}

/* hover */
.sidebar a:hover{
  background:white;
  color:red;
}

/* active */
.sidebar a.active{
  background:white ;
  color:red;
  font-weight:bold;
}

/* CONTENT */
.content {
  flex: 1;
  background: white;
  margin-left: 50px;
  padding: 25px;
  border-radius: 12px;

  height: 100%;
  box-sizing: border-box;
}
