# Maven
BACKEND/bookstore/target/
BACKEND/bookstore/.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
BACKEND/bookstore/.idea/
BACKEND/bookstore/.env/
*.iws
*.iml
*.ipr

# Application configuration files (QUAN TRỌNG)
BACKEND/bookstore/src/main/resources/application.yaml
BACKEND/bookstore/src/main/resources/application-dev.yaml
!BACKEND/bookstore/src/main/resources/application-dev.example.yaml

# Eclipse/STS
BACKEND/bookstore/.apt_generated
BACKEND/bookstore/.classpath
BACKEND/bookstore/.factorypath
BACKEND/bookstore/.project
BACKEND/bookstore/.settings/
BACKEND/bookstore/.springBeans
BACKEND/bookstore/.sts4-cache/

# NetBeans
BACKEND/bookstore/nbproject/private/
BACKEND/bookstore/nbbuild/
BACKEND/bookstore/dist/
BACKEND/bookstore/nbdist/
BACKEND/bookstore/.nb-gradle/
BACKEND/bookstore/build/

# VS Code
BACKEND/bookstore/.vscode/