@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Urban Jungle";
  src: url("./assets/fonts/UrbanJungle.otf") format("opentype");
}


body{
  font-family: "SF Pro", sans-serif;
  background: #f5f5f5;
}
/*truot len dau trang*/
html{
  scroll-behavior: smooth;
}

html, body, #root{
  height:100%;
  margin:0;
}

#root{
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

main{
  flex:1;
}
