.order-page {
  padding: 20px 40px;
}

/* Header */
.order-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.order-header h3 {
  font-size: 18px;
  font-weight: 600;
}

/* Tabs */
.order-tabs {
  display: flex;
  gap: 20px;
}

.tab {
  font-size: 14px;
  color: #666;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 20px;
}

.tab.active {
  background: #f3f3f3;
  color: #e74c3c;
}

/* Box xám */
.order-box {
  margin-top: 20px;
  height: 250px;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    border-radius:12px;
}

/* Text */
.order-box p {
  color: #888;
  margin-bottom: 15px;
}

/* Button */
.order-box button {
  background: #2c6f7b;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
}