.account-page{
  display:flex;
  padding:30px;
  max-width:1200px;
  margin:auto;
}

/* SIDEBAR */

.sidebar{
  width:200px;
}

.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar li{
  margin-bottom:5px;
}

.sidebar a{
  display:block;
  padding:10px 10px;
  text-decoration:none;
  color:#555;
  border-radius:8px;
  transition:0.2s;
}

/* hover */
.sidebar a:hover{
  background:white;
  color:red;
}

/* active */
.sidebar a.active{
  background:white;
  color:red;
  font-weight:bold;
}

/* CONTENT */
.content{
  flex:1;
  background:white;
  margin-left:50px;
  padding:25px;
  border-radius:12px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

/* PROFILE */
.profile-container{
  display:flex;
  gap:30px;
  margin-top:25px;
}

/* AVATAR */
.avatar{
  width:90px;
  height:90px;
  background:#4c89d9;
  border-radius:50%;
  object-fit:cover;
}

/* FORM */
.form-row{
  display:flex;
  align-items:center;
  margin-bottom:15px;
}

.form-row label{
  width:130px;
  color:#555;
}

.form-row input{
  width:400px;
  padding:6px;
  border:1px solid #ddd;
  border-radius:5px;
}

.form-row span{
  margin-left:10px;
  color:rgba(57, 96, 107, 1);
  cursor:pointer;

}

/* RADIO */
.radio{
  display:flex;
  align-items:center;
  gap:40px;
  width:400px;
}

.radio label{
  display:flex;
  align-items:center;
  gap:6px;
  cursor:pointer;
}


/* MEMBER */
.member{
  margin-top:30px;
}

/* BUTTON */
.save-btn{
  margin-top:10px;
  padding:8px 30px;
  background:#2c5d63;
  color:white;
  border:none;
  border-radius:20px;
  float:right;
  cursor:pointer;
}