.login-page {
  background: #f5f7fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  width: 100%;
  max-width: 700px;
  padding: 60px 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

/* LOGO */
.logo {
  font-size: 48px;
  color: rgba(57, 96, 107, 1);
  font-family: Urban Jungle, sans-serif;
  margin-bottom: 10px;
}

/* SUBTITLE */
.subtitle {
  font-size: 16px;
  margin: 20px 0 40px;
  color: #333;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 100%;
}

.login-form input {
  width: 100%;
  max-width: 420px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  transition: 0.2s;
}

.login-form input:focus {
  outline: none;
  border-color: rgba(57, 96, 107, 1);
}

/* BUTTON */
.login-form button {
  width: 100%;
  max-width: 420px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: rgba(57, 96, 107, 1);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form button:hover {
  background: #355558;
}

.login-form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


/* GOOGLE BUTTON WRAPPER */
.social-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* GOOGLE */
.social {
  width: 100%;
  max-width: 420px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;

}

.social:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

/* FORGOT PASSWORD */
.forgot-wrapper {
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: flex-end;
}

.forgot-wrapper .forgot {
  font-size: 12px;
  color: rgba(57, 96, 107, 1);
  cursor: pointer;
  transition: 0.2s;
}

.forgot-wrapper .forgot:hover {
  color: #355558;
  text-decoration: underline;
}

.forgot:hover {
  text-decoration: underline;
}

/* REGISTER */
.register {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(57, 96, 107, 1);
  text-decoration: none;
}

.register:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-container {
    width: 90%;
    padding: 30px 20px;
  }

  .logo {
    font-size: 32px;
  }
}