html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ===== CENTER PAGE ===== */
.otp-page {
    background: white;
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== CONTAINER ===== */
.otp-container {
    background: white;
    width: 700px;
    max-width: 90%;

    padding: 60px 50px;
    border-radius: 6px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* ===== LOGO ===== */
.logo-otp {
    font-size: 52px;
    color: rgba(57, 96, 107, 1);
    font-family: Urban Jungle;
    margin-bottom: 10px;
}

/* ===== SUBTITLE ===== */
.subtitle {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: black;
}

/* ===== FORM ===== */
.otp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INPUT */
.otp-form input {
    width: 200px;
    padding: 12px;
    margin-bottom: 10px;

    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.otp-form input:focus {
    outline: none;
    border-color: #4c6f73;
}

/* BUTTON */
.otp-form button {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 20px;

    background: rgba(57, 96, 107, 1);
    color: white;
    font-size: 16px;

    cursor: pointer;
    margin-top: 30px;
}

.otp-form button:hover {
    background: #355558;
}

/* ERROR */
.error-text {
    font-size: 12px;
    color: #ff3b30;
    margin-top: 6px;
}

.otp-expired {
  margin-top: 12px;
  text-align: center;
}

.resend-btn {
  margin-top: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.resend-btn:hover {
  opacity: 0.9;
}