@font-face {
  font-family: "SF Pro";
  src: url("/assets/fonts/SF-Pro-Display-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/assets/fonts/SF-Pro-Display-Bold.ttf") format("truetype");
  font-weight: bold;
}

body{
  font-family: "SF Pro", sans-serif;
  background: #f5f5f5;
}

{/* truot len dau trang */}
html {
  scroll-behavior: smooth;
}