.header-admin {
  width: 100%;
  background: #2c6f7b;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-top-admin {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo-header-admin {
  font-size: 40px;
  font-weight: bold;
  font-family: "Urban Jungle", Arial, sans-serif;
  color: #fff;
  margin-right: auto;
}



.login-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 0;
  gap: 6px;
}

.login-item svg{
    font-size: 20px;
}